#room
  #sidebar
    %h1= @room.name
  %canvas#canvas{:width=>"800", :height=>"600"} You need canvas dude
  :javascript
    var canvas = $('canvas');
    if (canvas[0].getContext){
      
      var color = "#FFA500"; // TODO random color
      var board = new DrawingBoard(canvas, color);
      var connection = new Connection(#{@room.id}, #{@user.id}, function(m) {
        board.draw(m.data);
      });
      board.ondraw(function(d) {
        connection.send({data: d});
      });
      
    } else {
      alert("Canvas not supported");
    }
    
