!!!
%html

  %head
    %title Talker
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}/
    %meta{:name => "author", :content => "Marc-Andr&eacute; Cournoyer"}/
    
    %link{:rel => "stylesheet", :href => "/styles/screen.css", :type => "text/css", :media => "screen, projection"}/
    %link{:rel => "stylesheet", :href => "/styles/print.css", :type => "text/css", :media => "print"}/
    /[if IE]
      %link{:rel => "stylesheet", :href => "/styles/ie.css", :type => "text/css", :media => "screen, projection"}/
    
    %script{:type => "text/javascript", :src => "/js/jquery.min.js"}
    %script{:type => "text/javascript", :src => "/js/jquery.media.js"}
    %script{:type => "text/javascript", :src => "/js/jquery.scrollTo.js"}
    %script{:type => "text/javascript", :src => "/js/jsonStringify.js"}
    %script{:type => "text/javascript", :src => "/js/jsSocket.js"}
    %script{:type => "text/javascript", :src => "/js/chat.js"}
    
  %body
    = yield
    