#room
  #sidebar
    %h1= @room.name
  %table#log
    - @room.messages.each do |message|
      = haml :message, :layout => false, :locals => { :message => message }
  #message
    %form
      %textarea
      %input#sendBtn{:type => "submit", :value => "Send", :disabled => "disabled"}
    :javascript
      var connection = new Connection(#{@room.id}, #{@user.id}, {
        onReceive: function(message) {
          $("#log").append(
            $('<tr class="message">' +
                '<td class="author">' + message.user + '</td>' +
                '<td class="content">' + message.content + '</td>' +
              '</tr>')
          );
          scrollToLast();
        },
        onOpen: function() { enableSend(true) },
        onClose: function() { enableSend(false) }
      });
      
      var messageForm = $('#message form');
      var messageBox = messageForm.find('textarea');
      
      function enableSend(val) {
        $('#sendBtn')[0].disabled = !val;
      };

      function sendEnabled() {
        return !$('#sendBtn')[0].disabled;
      };
      
      function scrollToLast() {
        $(window).scrollTop($("#log")[0].scrollHeight);
      };

      $(document).ready(function () {
        scrollToLast();
        messageBox.focus();
      });
      
      function sendMessage() {
        var text = messageBox.val();
        if (sendEnabled() && text.length > 0) {
          connection.send({content: text});
          messageBox.val("");
        }
        return false;
      };
      
      $('#message form').submit(sendMessage)
      
      $("#message form textarea").keypress(function (e) {
        if (e.which == 13) {
          sendMessage();
          return false;
        }
        return true;
      });
    