<td><%= form.text_field :url, :size => 60, :class => "url" %></td>
<td><%= image_tag "icons/arrow.png", :class => "to" %></td>
<td><%= form.select :room_id, current_account.rooms.map {|r| [ r.name, r.id ] } %></td>
