<% @title = "Manage Users" %>

<% content_for :sidebar do %>
  <div id="actions">
    <%= link_to "Send Invites", invites_path, :class => "button add" %>
  </div>
<% end %>

<ul id="people">
<%= render @users %>
</ul>
