#account-switcher
  - if current_account
    %a#current-account{:href =>account_path(current_account)}
      %span.account
        Account:
      %strong.current
        =current_account.subdomain
  -if current_user.accounts.count > 1
    %ul
      -(current_user.accounts - [current_account]).each do |account|
        %li{:class => (account == current_account ? 'active' : nil)}
          %a{:href =>account_path(account)}
            %span.switch
              Switch to:
            %strong.subdomain
              =account.subdomain
