@import reset.sass
@import colors.sass
@import styling.sass
@import facebox.sass

// General
body
  height: 100%
  position: relative
  font-family: helvetica, arial, sans-serif
  +font_size("medium")
  color = !black
  background = !black * 0.1 + !white * 0.9
  &:.blank
    background-color = !white
html
  height: 100%
*
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 0
a
  color = !accent_colour * 0.75 + !black * 0.25
  outline: none
  &.negative
    color = !colour_negative
  &.disabled
    color = !grey
    text-decoration: none
    cursor: default
  &:hover, &.hover
    text-decoration: none
h2
  +font_size("xxxlarge")
  margin: 0 0 1em
  font-weight: bold
h3
  +font_size("xxlarge")
  margin: 0 0 0.66em
  color = !dark_grey
h4
  +font_size("xlarge")
  font-weight: bold
  margin: 0 0 0.5em
p
  color = !dark_grey
  &.more
    margin: 0 0 10px
  &.pagination
    overflow: hidden
    a
      font-weight: bold
      text-decoration: none
      display: block
      padding: 0 10px
      height: 22px
      line-height: 22px
      +rounded_corners("all", 3)
      border = 1px "solid" !light_grey * 0.25 + !white * 0.75
      border-right = 1px "solid" !light_grey * 0.5 + !white * 0.5
      border-bottom = 1px "solid" !light_grey * 0.5 + !white * 0.5
      &:hover
        background = !accent_colour * 0.5 + !white * 0.5
      b
        display: block
      &.previous
        float: left
        b
          float: left
          border: 5px solid transparent
          border-left: none
          border-right = 8px "solid" !light_grey
          margin: 5px 5px 0 0
      &.next
        float: right
        b
          float: right
          border: 5px solid transparent
          border-right: none
          border-left = 8px "solid" !light_grey
          margin: 5px 0 0 5px
input, select, textarea
  font-family: helvetica, arial, sans-serif
  +font_size("small")
input.placeholder
  color = !light_grey
em
  font-style: oblique
hr
  height: 0
  border: none
  border-top = 1px "solid" !light_grey
  margin: 0 0 1.5em
pre
  font-family: monospace

.highlight
  background: #EFEF00
  color: black
  font-weight: bold
  margin: 4px
  padding: 2px 5px 2px 5px
  +rounded_corners("all", 4)
  +box_shadow(0, 0, 4, !light_grey * 0.66 + !white * 0.33)

// Clearfix
.clearfix
  display: inline-block
  &:after
    content: "."
    display: block
    clear: both
    visibility: hidden
    line-height: 0
    height: 0
html[xmlns] .clearfix
  display: block
* html .clearfix
  height: 1%

#nav
  position: fixed
  z-index: 6
  width: auto
  left: 0
  right: 0
  overflow: hidden
  background = !dark_grey
  padding: 0 10px 0
  +font_size("small")
  height: 40px
  border-bottom = 2px solid !light_grey
  ul
    margin: 10px 0 0
    float: left
    li
      list-style: none
      display: block
      float: left
      a
        display: block
        line-height: 20px
        padding: 0 7px
        margin: 0 2px
        height: 20px
        font-weight: bold
        text-decoration: none
        color = !white
        +rounded_corners("all", 2)
        &:hover
          background = !white
          color = !accent_colour
        &.active
          background = !grey
      form
        margin: 0 0 0 10px
        p
          padding: 0
          line-height: normal
          input
            +font_size("small")
            height: 16px
            padding: 4px 2px 0 21px
            +rounded_corners("all", 2)
            border: none
            background-image: url('../../images/icons/magnifier.png')
            background-repeat: no-repeat
            background-position: 2px center
  p.utilities
    float: right
    color = !light_grey
    line-height: 40px
    a
      color = !white
      &.avatar
        img
          height: 18px
          width: 18px
          position: relative
          top: 3px

// Layout
#content
  padding: 40px 0 0
#main
  margin: 0 240px 0 0
  padding: 40px
  div.sheet
    background = !white
    padding: 40px
    +box_shadow(1, 1, 2, !light_grey * 0.66 + !white * 0.33)
    min-width: 700px
  &.dialog
    margin: 0 auto
    width: 500px
    div.sheet
      min-width: 0
#sidebar
  position: fixed
  right: 0
  float: right
  width: 195px
  padding: 37px 37px 37px 0
body#rooms_controller.show
  #content
    padding: 0

// Page specific layout fixes
#accounts_controller.new
  #content
    padding-top: 0

// Rooms
#rooms
  overflow: hidden
  li
    display: block
    width: 280px
    margin: 0 10px 10px 0
    float: left
    div.panel
      margin: 0
      div
        &.content
          min-height: 80px
          p
            &.description
              +font_size("small")
            &.people
              label
                color = !grey
              img
                height: 18px
                width: 18px
                position: relative
                top: 3px

// Plugins
#plugins
  overflow: hidden
  &>div
    margin: 0 0 20px
    li
      display: block
      margin: 0 10px 10px 0
      div.panel
        margin: 0
        div
          &.header
            h3
              font-size: 14px
              font-weight: bold
            span.author
              float: right
              font-size: 12px
              color = !light_grey
              img
                position: relative
                top: 3px
          &.content
            p
              &.description
                +font_size("small")
              &.people
                label
                  color = !grey
                img
                  height: 18px
                  width: 18px
                  position: relative
                  top: 3px
      &.enabled
        +opacity(100)
        div.panel
          div.header
            background = !accent_colour * 0.75 + !black * 0.25
            span.author
              color = !white
      &.disabled
        +opacity(50)
      &:hover
        +opacity(100)

#plugins_controller.show
  #plugins
    &>div
      li
        +opacity(100)
  pre
    padding: 20px 20px 0 20px
    background: white
    overflow: auto

// Form Elements
form
  p
    line-height: 28px
    margin: 0 0 10px
    &.submit
      margin-bottom: 0
  div.complex_field
    line-height: 28px
    margin: 0 0 1.5em
  label
    display: block
    margin-right: 10px
    line-height: 28px
    float: left
    text-align: right
    &.description
      line-height: 1
      margin-top: 5px
      +font_size("small")
      float: none
      text-align: left
    &.inline
      display: inline
      float: none
      font-weight: normal
      margin: 0
  input[type=text], input[type=password], textarea
    background = !white
    +font_size("medium")
    padding: 5px 3px 0
    border = 1px "solid" !white * 0.9 + !black * 0.1
    border-top = 1px "solid" !white * 0.75 + !black * 0.25
    border-left = 1px "solid" !white * 0.75 + !black * 0.25
    margin: 0
  input[type=text], input[type=password]
    height: 21px
  select
    +font_size("medium")
  textarea.wide
    width: 100%
  fieldset
    margin: 0 0 20px
    padding: 0
    border: none
  div.fieldWithErrors
    display: inline
    input, textarea
      border-color = !colour_negative
  p.actions
    margin-bottom: 30px
  &.lw40
    label
      width: 40px
      &.description
        width: auto
        margin-left: 50px
    .indent
      margin-left: 50px
  &.lw80
    label
      width: 80px
      &.description
        width: auto
        margin-left: 90px
    .indent
      margin-left: 90px
  &.lw120
    label
      width: 120px
      &.description
        width: auto
        margin-left: 130px
    .indent
      margin-left: 130px
  &.lw160
    label
      width: 160px
      &.description
        width: auto
        margin-left: 170px
    .indent
      margin-left: 170px

// Buttons
a.button, button
  cursor: pointer
  display: inline-block
  +rounded_corners("all", 3)
  background = !button_colour_off
  color = !white
  +text_shadow(-1, -1, 0, !accent_colour * 0.75 + !black * 0.25)
  border = 1px "solid" !button_colour_off
  text-decoration: none
  padding: 0 10px
  line-height: 27px
  font: inherit
  +font_size("medium")
  +box_shadow(2, 2, 4, !light_grey * 0.5 + !white * 0.5)
  &:hover
    background = !button_colour_on
  &.large
    +font_size("xlarge")
    line-height = 31px
  &.small
    +font_size("small")
    line-height = 20px
    padding: 0 6px
  &.negative
    background = !colour_negative
    +emboss(!colour_negative * 0.75 + !black * 0.25)
    +text_shadow(-1, -1, 0, !colour_negative * 0.75 + !black * 0.25)
    +opacity(80)
    &:hover
      +opacity(100)
  &.neutral, &.submit
    background = !light_grey * 0.2 + !white * 0.8
    +emboss(!grey)
    +text_shadow(0, 0, 0, transparent)
    color = !black
    +opacity(80)
    &:hover
      +opacity(100)
  &.add
    background-image: url('../../images/icons/plus-circle.png')
    background-position: 10px center
    background-repeat: no-repeat
    padding-left: 31px
  &.remove
    background-image: url('../../images/icons/minus-circle.png')
    background-position: 10px center
    background-repeat: no-repeat
    padding-left: 31px
  &.update
    background-image: url('../../images/icons/document--pencil.png')
    background-position: 10px center
    background-repeat: no-repeat
    padding-left: 31px
  &.icon
    background-position: 10px center
    background-repeat: no-repeat
    padding-left: 31px
  &.send-email
    background-image: url(/images/icons/mail--arrow.png)
  &.delete
    background-image: url(/images/icons/cross-circle.png)
  &.cancel
    background-color = !colour_negative * 0.3 + !white * 0.7
    background-image: url(/images/icons/cross-circle.png)
  &.ok
    background-image: url(/images/icons/tick.png)

// Sidebar Action Buttons
#sidebar
  #actions
    a.button
      +font_size("xlarge")
      font-weight: bold
      line-height: 1
      height: auto
      padding: 10px 15px 10px 36px
      background-position: 15px center
      +rounded_corners("all", 5)
      +box_shadow(1, 1, 2, !light_grey * 0.66 + !white * 0.33)
    a.talker_team
      +font_size("medium")
      padding: 10px
  .info
    margin: 20px 0
    border = solid 1px !white

// People
#people
  overflow: hidden
  li.user
    display: block
    width: 280px
    margin: 0 10px 10px 0
    float: left
    &.pending
      div.header
        :background-color = !grey
    ul.roles
      :list-style none
    div.panel
      div
        &.header
          div.avatar
            position: absolute
            top: 10px
            left: 10px
            img
              height: 40px
              width: 40px
          h3
            margin: 0 0 0 50px
          .tag.you
            :background-color = !light_grey
        &.content
          min-height: 40px
          padding: 8px 10px 9px 60px
          +rounded_corners("bottom", 3)
          p
            +font_size("small")
        &.footer
          height: 22px

// Chat Log
#top_mask
  position: fixed
  z-index: 99
  top: -300px
  left: 0px
  background: url(../../images/top_fader.png)
  width: 100%
  height: 320px
  
#chat_log
  background = !white
  padding: 5px 10px 5px
  margin: 0 0 60px 0
  +box_shadow(0, 0, 16, !grey * 0.66 + !white * 0.3)
  table
    width: 100%
    tr
      position: relative
      td
        +font_size("medium")
        a.log
          float: right
          background: url('../../images/icons/calendar--arrow.png') no-repeat 3px center
          background-color = !grey * 0.5 + !dark_grey * 0.5
          padding: 0 5px 0 21px
          height: 20px
          line-height: 20px
          +rounded_corners("all", 3)
          color = !white
          text-decoration: none
        img.avatar
          height: 18px
          width: 18px
          position: relative
          top: 3px
        &.author
          padding: 8px 0 0 0
          vertical-align: top
          white-space: nowrap
          text-align: right
          width: 1%
          b.blockquote_tail
            margin: 0 0 0 5px
            display: inline-block
            width: 0
            height: 0
            border: 5px solid transparent
            border-left: none
            border-right = 5px "solid" !accent_colour * 0.15 + !white * 0.85
        &.message
          padding: 5px 0
          blockquote
            +rounded_corners("all", 3)
            background = !accent_colour * 0.15 + !white * 0.85
            font-style: normal
            padding: 3px 10px
            overflow: hidden
            span.marker
              float: right
              display: block
              color = !grey
              margin: 0 0 5px 5px
              +font_size("tiny")
              padding: 0 0 0 19px
              line-height: 16px
              white-space: nowrap
            p
              margin: 2px 0
              overflow: auto
              span.more_lines
                +font_size("tiny")
                color = !grey
              &.typing
                background: url('../../images/is_typing_on_DFEFF8.gif') no-repeat left center
                padding: 0 0 0 19px
                color = !light_grey
            pre
              overflow: auto
              padding: 10px
              width: auto
              background = !white
              border = 1px solid !light_grey
              margin: 0 0 5px
      &.me
        td
          &.author
            b.blockquote_tail
              border-right = 5px solid !alt_colour * 0.15 + !white * 0.85
          &.message
            blockquote
              background = !alt_colour * 0.15 + !white * 0.85
      &.timestamp
        td
          border-top = 1px "dotted" !grey * 0.5 + !white * 0.5
          height: 0
          padding: 0
          div
            position: relative
            span.marker
              display: block
              z-index: 5
              position: absolute
              b
                display: block
                height: 0
                width: 0
                border: 4px solid transparent
                border: 5px solid transparent
                position: relative
              i
                display: block
                background-color = !light_grey
                background-repeat: no-repeat
                background-position: 3px center
                color = !white
                +font_size("tiny")
                +rounded_corners("all", 2)
                padding: 0 5px 0 20px
                font-style: normal
                white-space: nowrap
          &.date
            div
              span.marker
                right: 100%
                top: -18px
                margin: 0 -2 0 0
                b
                  float: right
                  border-left = 5px "solid" !red * 0.5 + !grey * 0.5
                  border-right: none
                  top: 13px
                i
                  line-height: 1
                  padding: 5px
                  margin: 0 5px 0 0
                  background = !red * 0.5 + !grey * 0.5
                  span
                    display: block
                    text-align: center
                    &.date
                      font-weight: bold
                      +font_size("medium")
                    &.time
                      text-transform: uppercase
                      +font_size("tiny")

          &.time
            div
              span.marker
                left: 100%
                top: -10px
                margin: 0 0 0 -2px
                b
                  float: left
                  border-right = 5px "solid" !light_grey
                  border-left: none
                  top: 5px
                i
                  height: 20px
                  background-image: url('../../images/icons/clock.png')
                  line-height: 20px
                  margin: 0 0 0 5px
      &.notice
        td
          &.message
            p
              color = !light_grey
              +font_size("small")
      &.private
        td
          &.author
            b.blockquote_tail
              border-right = 5px solid !accent_colour * 0.25 + !white * 0.75
          &.message
            blockquote
              background = !accent_colour * 0.075 + !white * 0.925
              border = 2px "dotted" !accent_colour * 0.2 + !white * 0.8
              padding: 3px 8px
              span.marker.private
                background: url('../../images/icons/spectacles-sunglass.png') no-repeat left center
              p
                font-style: italic
                color = !grey
      &.private.me
        td
          &.author
            b.blockquote_tail
              border-right = 5px "solid" !alt_colour * 0.25 + !white * 0.75
          &.message
            blockquote
              background = !alt_colour * 0.075 + !white * 0.925
              border = 2px "dotted" !alt_colour * 0.25 + !white * 0.75

#message_form
  position: fixed
  z-index: 10
  bottom: 0
  left: 0
  height: 100px
  overflow: hidden
  width: 100%
  margin: 0px 230px 0 0
  background: url('../../images/bottom_fader.png')
  form.fade
    height: 80px
    margin: 20px 230px 0 0
    padding: 0 70px 0 50px
    textarea
      z-index: 10
      height: 50px
      width: 100%
      padding: 5px
      border = 1px solid !light_grey

#logs
  ul
    margin-left: 20px

// Panel
div.panel
  margin: 0 0 10px
  +box_shadow(1, 1, 2, !light_grey * 0.66 + !white * 0.33)
  div
    &.header
      +rounded_corners("top", 3)
      background = !dark_grey
      padding: 5px 10px
      border-bottom = 1px solid !light_grey
      position: relative
      span.actions
        float: right
        +font_size("tiny")
        +opacity(66)
        a
          display: inline-block
          height: 20px
          line-height: 20px
          padding: 0 3px
          +rounded_corners("all", 3)
          background = !grey * 0.5 + !dark_grey * 0.5
          color = !white
          text-decoration: none
          &:hover
            background = !accent_colour
      h3
        margin: 0
        color = !white
        +font_size("xlarge")
        a
          text-decoration: none
          color: inherit
          &:hover
            text-decoration: underline
      small
        display: block
        color = !light_grey
        +font_size("small")
      &:hover
        span.actions
          +opacity(100)

    &.content
      background = !white
      padding: 7px 10px 9px
      border-top = 2px solid !light_grey * 0.1 + !white * 0.9
      border-bottom = 1px solid !light_grey * 0.33 + !white * 0.66
      p
        margin: 0 0 0.66em
      ol
        margin-left: 20px
      h4
        +font_size("large")
      .loader
        float: right
    &.footer
      text-align: right
      +font_size("small")
      padding: 3px 10px 5px
      +rounded_corners("bottom", 3)
      border-top = 2px solid !light_grey * 0.2 + !white * 0.8
      background = !light_grey * 0.1 + !white * 0.9
      overflow: hidden
      a
        margin-left: 4px
      span.actions
        float: right
  .tag
    +font_size("small")
    :background-color = !alt_colour
    :color = !white
    :padding 2px 4px
    :position relative
    :top 5px
    +rounded_corners("all", 3)

#error_page
  h2
    text-align: center
  div.content
    p
      padding: 6px
  

div.dialog
  div.content
    p
      padding: 6px
    .footer
      margin-top: 30px
    ul
      margin: 6px 20px
      li
        background: url("/images/icons/arrow-000-small.png") no-repeat left 4px
        padding: 1px
        padding-left: 21px
        list-style: none
      &.links
        +font_size("xxlarge")
        li
          background-position-y: center

a#logo
  text-decoration: none
  color = !light_grey
  +font_size("tiny")
  img
    position: relative
    top: 5px
    +opacity(50)
  &:hover
    color = !accent_colour
    img
      +opacity(100)

// Room Sidebar
#sidebar
  z-index: 100
  a#logo
    display: block
    float: right
    margin-top: -10px
    padding: 0 6px
  #room
    +box_shadow(0, 0, 8, !light_grey * 0.66 + !white * 0.20)
    .description
      line-height: 14px
      +font_size("small")
    div
      &.header
        position: relative
        h3
          cursor: pointer
          span.switch_rooms
            position: relative
            top: 5px
            background = !grey * 0.15 + !dark_grey * 0.85
            display: inline-block
            height: 20px
            width: 20px
            +rounded_corners("all", 3)
            &.show_rooms
              b
                border-bottom = 5px "solid" !white
                border-top: none
            &.hide_rooms
              b
                border-bottom: none
                border-top = 5px "solid" !white
            b
              position: relative
              top: 7px
              left: 5px
              display: block
              height: 0
              width: 0
              border: 5px solid transparent
            #rooms
              z-index: 10
              display: none
              position: absolute
              right: 0
              top: 21px
              padding: 3px 3px 2px
              background = !grey * 0.5 + !dark_grey * 0.5
              +rounded_corners("all", 3)
              a
                min-width: 80px
                margin: 0 0 1px
                font-size: 12px
                display: block
                padding: 5px
                line-height: 1
                background = !white
                color = !accent_colour * 0.75 + !black * 0.25
                white-space: nowrap
                text-decoration: none
                +rounded_corners("all", 2)
                &:hover
                  background = !light_grey * 0.8 + !white * 0.2
                &.current
                  background = !accent_colour
                  color = !white
                &.back
                  background = !grey * 0.5 + !dark_grey * 0.5
                  color = !white
                  +font_size("tiny")
            &:hover
              span.switch_rooms
                background = !grey * 0.5 + !dark_grey * 0.5
      &.content
        ul.people
          margin: 0 0 -5px
          overflow: hidden
          li
            display: block
            float: left
            margin: 0 5px 5px 0
            padding: 2px 5px
            background = !light_grey * 0.15 + !white * 0.85
            +rounded_corners("all", 3)
            +font_size("small")
            img
              height: 18px
              width: 18px
              position: relative
              top: 3px
        form
          margin: 0
          &.search_form
            padding-bottom: 10px
            a.browse
              +font_size("small")
      &.footer
        label
          +font_size("tiny")
          color= !grey
        #guest_url
          +font_size("tiny")
          width: 100%
          border: 0
          background = !light_grey * 0.1 + !white * 0.9
  #beta_message
    margin-top: 40px
    clear: both
    height: 300px
    overflow: auto
    p
      +font_size("tiny")
       
#footer
  margin: 30px 0 10px 0
  +font_size("tiny")
  text-align: center
  color = !grey
  a#logo
    img
      margin: 0 4px
  .links
    a
      color = !accent_colour * 0.5 + !light_grey * 0.5
      margin: 0 2px

// Flash Messages
div.flash
  margin: 0 0 1.5em
  color = !black
  padding: 10px 10px 10px 31px
  +rounded_corners("all", 3)
  line-height: normal
  &.error
    background = (!accent_colour * 0.25 + !red * 0.75) * 0.25 + !white * 0.75 url("/images/icons/exclamation-red.png") "no-repeat" 10px 10px
  &.notice
    background = (!accent_colour * 0.25 + !blue * 0.75) * 0.25 + !white * 0.75 url("/images/icons/information.png") "no-repeat" 10px 10px

// Error Explananation
#errorExplanation
  color = !black
  padding: 10px 10px 10px 31px
  +rounded_corners("all", 3)
  margin: 0 0 20px
  color = !black
  background = (!accent_colour * 0.25 + !red * 0.75) * 0.25 + !white * 0.75 url("/images/icons/exclamation-red.png") "no-repeat" 10px 10px
  h2
    +font_size("medium")
    margin: 0
  p
    +font_size("small")
    margin-bottom: 0
    color = !black
  ul
    margin-left: 19px
    li
      +font_size("small")
      background: url('../../images/icons/exclamation-small-red.png') no-repeat left center
      padding-left: 21px
      list-style: none

div.info
  margin: 0 0 1.5em
  color = !accent_colour * 0.4
  padding: 11px 10px 10px 33px
  +rounded_corners("all", 3)
  +font_size("small")
  line-height: normal
  background = !accent_colour * 0.2 + !white * 0.8 url(/images/icons/information.png) "no-repeat" 10px 10px
  +box_shadow(1, 1, 2, !light_grey * 0.66 + !white * 0.33)
  p
    margin-bottom: 4px

#guest_login
  .user_list
    padding: 10px
    margin-top: -20px

#admin
  div.stats
    float: right
    color = !grey
  table
    width: 100%
    margin-bottom: 20px
    th, td
      padding: 3px
    th
      +font_size("small")
      background-color = !accent_colour
      color = !white
    td
      border-bottom = 1px dotted !grey

table
  tr.odd
    background = !accent_colour * 0.05 + !white * 0.95

table#feeds
  width: 100%
  margin: 10px 0
  th
    +font_size("tiny")
    padding: 0 6px
    color = !light_grey
  td
    border-bottom = 1px dotted !light_grey
    padding: 0 6px
    span.error
      +font_size("small")
      color = !red * 0.5
      a
        color: inherit
    img
      position: relative
      top: 3px
      &.to
        margin: 0 6px
  td.actions
    padding: 6px
    text-align: right
    a
      margin: 0 1px
      +font_size("small")
      &.remove
        color = !red * 0.6 + !accent_colour * 0.4

body#pastes_controller.show
  background-color = !white
  #paste
    padding: 10px

div.log_browser
  margin-bottom: 14px
  &.bottom
    margin-top: -30px
  .current
    position: relative
    text-align: center
    width: 100%
    top: -9px
    width: 300px
    margin: 0 auto
    z-index: 1
  a
    display: block
    z-index: 2
    &.prev
      float: left
    &.next
      float: right

#permissions
  ul
    list-style: none
    margin-bottom: 20px
