<div class="sheet">
  <h2><%=h @title = "Edit #{@room.name}" %></h2>

  <% form_for @room, :html => { :class => "lw120" } do |f| %>
    <%= render f %>
    <p class="indent submit">
      <%= buttons "Update", :cancel_to => rooms_path %>
    </p>
  <% end %>
</div>