<div class="sheet">
  <h2><%=h @title = "Edit #{@room.name}" %></h2>

  <% form_for @room, :html => { :class => "lw120" } do |f| %>
    <%= render f %>
    <p class="indent">
      <%= buttons "Update", :cancel_to => rooms_path %>
    </p>
    <p class="indent submit">
      <%= link_to "Delete room and logs", room_path(@room), :class => "button negative icon delete", :title => "Delete this room", :confirm => "Are you sure?", :method => :delete %>
    </p>
  <% end %>
</div>