<div class="sheet">
  <h2><%=h @title = "Edit #{@room.name}" %></h2>

  <% form_for @room, :html => { :class => "lw120" } do |f| %>
    <%= render f %>
    <p class="indent submit">
      <%= buttons "Update", :cancel_to => rooms_path %>
    </p>
    
    <fieldset id="delete_room">
      <h3>Delete room</h3>
      
      <p class="indent">
        If you delete this room, all users currently in the room will be disconnected and transcripts will be lost.
      </p>
      
      <p class="indent">
        <%= link_to "Delete room and transcripts", room_path(@room), :class => "button negative icon delete", :title => "Delete this room", :confirm => "Are you sure?", :method => :delete %>
      </p>
    </fieldset>
  <% end %>
</div>