%h1= @title = "Rooms"

#rooms
  - @rooms.each do |room|
    .room
      %h2= link_to h(room.name), room
      = link_to "View logs", logs_path(room)
      .users
        Online now:
        %strong
          - if room.users.empty?
            Nobody
          - else
            &= room.users.map(&:name).to_sentence
