#header
  %h1 talker
  %h2 Group Chat For People With No Time To Waste.
  %h3 The fastest and most pleasant way to chat with your team.

#content
  %p Boost your team's productivity with Talker, the fastest text chat application ever created.  Sign up for a beta account now and we'll give you a team pass on our trial servers as soon as there are free spots available.

  %h2 Sign up for the beta

  %form{:action=>"http://macournoyer.createsend.com/t/y/s/dhkrly/", :method=>"post", :id => "signup_form"}
    %p
      %label{:for=>"dhkrly-dhkrly"} Enter your email to get notified when the beta is ready:
      %input{:type=>"text", :name=>"cm-dhkrly-dhkrly", :id=>"dhkrly-dhkrly", :size => 40}
      %input{:type=>"submit", :value=>"Subscribe"}
    %p.safe_email Your email is safe with us, really.
