#header.outer
  .inner
    .content
      %h1 Talker
      %h2 Group Chat For People With Absolutely No Time To Waste.
      %h3 The fastest and most pleasant way to chat with your team.
    
#content.outer
  .inner
    %h2 Sign up for the beta
    
    %form{:action=>"http://macournoyer.createsend.com/t/y/s/dhkrly/", :method=>"post"}
      %p
        %label{:for=>"dhkrly-dhkrly"} Enter your email:
        %input{:type=>"text", :name=>"cm-dhkrly-dhkrly", :id=>"dhkrly-dhkrly"}
        %input{:type=>"submit", :value=>"Subscribe"}
      %p.quiet We respect your privacy and will keep your email private.
