#header.outer
  .inner.home
    .screenshot
    .content
      %h1 Talker
      %h2 Group Chat For People With No Time To Waste.
      %h3 The fastest and most pleasant way to chat with your team.
      %a.signup{:href => "/signup"}
        Sign Up
        .info for beta
    
#content.outer
  .inner
  
    .left
      hi
      
    .right
      %h2 Chat faster...
      
      .box
        %a.signup{:href => "/signup"}
          Sign Up
          .info for beta
      
