#header.outer
  .inner
    .content
      %h1 Talker
      %h2 Group Chat For People With No Time To Waste.
      %h3 The fastest and most pleasant way to chat with your team.
      %a.signup{:href => "/signup"}
        Sign Up
        .info for beta
    
#content.outer
  .inner
  
     %form{:action=>"http://macournoyer.createsend.com/t/y/s/dhkrly/", :method=>"post"}
        %p
          %label{:for=>"dhkrly-dhkrly"} Enter your email:
          %input{:type=>"text", :name=>"cm-dhkrly-dhkrly", :id=>"dhkrly-dhkrly"}
          %input{:type=>"submit", :value=>"Subscribe"}
        %p.quiet We respect your privacy and will keep your email private.
