#header.outer
  .inner
    .content
      %h1 Talker
      %h2 Group Chat For People With No Time To Waste.
    
#content.outer
  .inner
    %h1 Thank you for you purchase!
    %h2 We hope you'll enjoy creating your first programming language.
    
    %h3 Subscribe to the newsletter
    %form{:action=>"http://macournoyer.createsend.com/t/y/s/dtdiyh/", :method=>"post"}
      %p Subscribe to the newsletter to get a beta invite.
      %p
        %label{:for=>"dtdiyh-dtdiyh"} Enter your email:
        %input{:type=>"text", :name=>"cm-dtdiyh-dtdiyh", :id=>"dtdiyh-dtdiyh"}
        %input{:type=>"submit", :value=>"Subscribe"}
      %p.quiet We respect your privacy and will keep your email private.
    