<% @title = "Desktop App" %>

<div class="panel">
  <div class="header">
    <h3>Get the Talker Desktop App</h3>
  </div>
  <div class="content">
    <ol>
      <li><%= link_to "Install Mozilla Prism", "http://prism.mozilla.com/started/" %></li>
      <li><%= link_to "Download Talker Prism App", prism_app_path %></li>
      <li>Double-click on <strong>talker.webapp</strong>, the file you've just downloaded.</li>
    </ol>
  </div>
</div>
