<ul id="navigation">
  <li></li>
  <li><%= link_to_unless_current "Features", features_path %></li>
  <li class="dev"><%= link_to_unless_current "Plugin API", plugin_api_path %></li>
  <li class="dev"><%= link_to_unless_current "REST API", rest_api_path %></li>
  <li class="contextual dev">For developers:</li>
</ul>