
<div id="header">
  <h1>talker <%= image_tag "/images/logo.png", :width => 80 %></h1>
</div>

<div id="content">
  
  <%= render :partial => "public_nav" %>
  
  <div class="feature">
    <h2>Paste With Ease</h2>
    <p>Any text you paste appears within the log so that everyone can see it.</p>
  </div>

  <div class="feature">
    <h2>Live Preview</h2>
    <p>Image and Youtube URLs are previewed directly in the log.  No need to click on the link and go elsewhere.</p>
  </div>

  <div class="feature">
    <h2>Share Files</h2>
    <p>Sharing a file with everyone is as simple as uploading it.  If it is an image it will even be previewed!</p>
  </div>

  <div class="feature">
    <h2>Desktop Integration</h2>
    <p>
      Have a window only for group chat by using <a href="http://prism.mozilla.com/" target="_blank">Prism</a>
       or <a href="http://fluidapp.com/" target="_blank">Fluid</a>.
    </p>
  </div>
  
  <div class="feature">
    <h2>Commands</h2>
    <p>Use special /slash commands to do more with your group chat!</p>
  </div>
  
  <div class="feature">
    <h2>Private Messages</h2>
    <p>Send private message with the /msg command</p>
  </div>

  <div class="feature">
    <h2>Feed Notifications</h2>
    <p>Want to keep an eye on an RSS or Atom feed?  Simply add the url and we'll keep you alert.</p>
  </div>
  
  <div class="feature">
    <h2>Amazing API</h2>
    <p>Send a message to the log in a single line of code!  Our REST API makes it easy for you.</p>
  </div>

  <div class="feature">
    <h2>Powerful Plugins</h2>
    <p>Display and interact the way you want with our Front End API.</p>
  </div>
  
  <!--   <div class="feature">
      <h2></h2>
      <p></p>
    </div> -->
  
</div>
