<div id="splash">
  <div class="container">
    <div id="tagline">
      <h1>The fastest way to chat with your team.</h1>
    </div>
    <div id="video">
      <div class="buttons">
        <a href="#">Watch Video Tour</a>
      </div>
    </div>
    <div id="page">
      <div id="benefits">
        <ul>
          <li id="one">
            <h3>No IM Client</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
          </li>
          <li id="two">
            <h3>The water cooler</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
          </li>
          <li id="three">
            <h3>Work remotely</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
          </li>
          <li id="four">
            <h3>Make your team</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
          </li>
        </ul>
        <div class="clear"></div>
      </div>
      <div id="divider">
        <div class="buttons">
          <a href="#">Try a live demo</a> <a href="/tour">View pricing and signup for a free trial</a>  
        </div>
        <div class="arrow">
          it takes less than 60 seconds to create an account!
        </div>
      </div>
    </div>
    <div id="ads">
      <div class="spot left">
        <h3>Powerful Plugins</h3>
        <p>Display and interact the way you want with our Front End API. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
      </div>
      <div class="spot right">
        <h3>Amazing API</h3>
        <p>Send a message to the log in a single line of code! Our REST API makes it easy for you. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laud.</p>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>

<div id="footer">
  <div class="container">
    <div class="credits">
      <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
    </div>
    <div class="clear"></div>
    <div id="copyright">
      <p>&copy; 2009 Talkerapp <span>|</span> <a href="/contact">Contact</a> <span>|</span> <a href="/about">About</a> <span>|</span> <a href="/help">Help</a> <span>|</span> <a href="http://twitter.com/gameandmatch">Twitter</a> </p>
    </div>
  </div>
</div>