<div id="header">
  <div id="header_center">
    <a href="#" class="pricing">Plans &amp; Pricing</a>
    <a href="#">Tour</a>
    <a href="#">Blog</a>
    <a href="#">Tabernapps</a>
  </div>
</div>

<div id="container">
  
  <div id="right">
    <%= image_tag "/images/screenie.png", :width => "475" %>
  </div>
  
  <div id="left">
    <h1><%= image_tag "/images/logo.png", :width => 55 %> talker</h1>

    <h2>The fastest &amp; most extensible group chat.</h2>

    <h3>Talker is an easy to use faster-than-email extensible and versatile collaboration tool.</h3>

    <p>Share files, text, images and videos with ease.  Save logs automatically.  View feeds as soon as they are updated.</p>

    <a href="/plans" class="plans">
      <strong>See Plans &amp; Pricing</strong>
      Free for 30 days, sign up in 30 seconds.
    </a>
  </div>
  
</div>
