<div class="main">
  <h2>Choose a Plan</h2>
  
  <% Plan.all.each do |plan| %>
    <div class="plan">
      <h3><%= plan.name %></h3>
      <p><%= plan.description %></p>
      <%= link_to "Subscribe", signup_path(plan.id) %>
    </div>
  <% end %>
</div>