<div class="main">
  <h2>Talker Pricing</h2>
  
  <p class="warning">
    We aren't charging yet but once we do we expect pricing to look like the following plans.  We'll also offer a limited Free accounts for up to 4 users with 10MB of upload and larger free accounts for charities and open source projects. 
  </p>

  
  <div id="plans">
    <div class="plan">
      <p class="header">Basic</p>
      <p class="price">$12/month</p>
      <p class="chatters"><b>12</b> chatters</p>
      <p class="upload"><b>1GB</b> upload storage</p>
      <p class="feeds">Easy breezy feeds</p>
      <p class="plugins">Powerful plugins</p>
      <p class="security"><b>Enhanced</b> Security</p>
      <p class="signup"><%= link_to "Sign Up", signup_path("basic"), :protocol => 'https' %></p>
    </div>
    
    <div class="plan">
      <p class="header">Plus</p>
      <p class="price">$24/month</p>
      <p class="chatters"><b>25</b> chatters</p>
      <p class="upload"><b>3GB</b> upload storage</p>
      <p class="feeds">Easy breezy feeds</p>
      <p class="plugins">Powerful plugins</p>
      <p class="security"><b>Enhanced</b> Security</p>
      <p class="signup"><%= link_to "Sign Up", signup_path("plus"), :protocol => 'https' %></p>
    </div>
    
    <div class="plan">
      <p class="header">Premium</p>
      <p class="price">$49/month</p>
      <p class="chatters"><b>60</b> chatters</p>
      <p class="upload"><b>10GB</b> upload storage</p>
      <p class="feeds">Easy breezy feeds</p>
      <p class="plugins">Powerful plugins</p>
      <p class="security"><b>Enhanced</b> Security</p>
      <p class="signup"><%= link_to "Sign Up", signup_path("premium"), :protocol => 'https' %></p>
    </div>
    
    <div class="plan">
      <p class="header">Max</p>
      <p class="price">$99/month</p>
      <p class="chatters"><b>120</b> chatters</p>
      <p class="upload"><b>25GB</b> upload storage</p>
      <p class="feeds">Easy breezy feeds</p>
      <p class="plugins">Powerful plugins</p>
      <p class="security"><b>Enhanced</b> Security</p>
      <p class="signup"><%= link_to "Sign Up", signup_path("max"), :protocol => 'https' %></p>
    </div>    
  </div>
  
</div>