<% @title = "Talker Pricing" %>
<% @tagline = "Pick The Right Plan For Your Team" %>

<div id="plans">
  <%= render :partial => 'plan', :locals => { :plan => Plan.free } %>
  <div class="plan info">
    <div class="box">
      <p>Did you hear? We're offering <strong>Talker for free</strong>!</p>
      <p>We're giving away Talker for free because it's now part of the <strong>Teambox collaboration ecosystem</strong>.</p>
      <p>For more storage, private rooms and unlimited chat logs, you can use our <strong>Cool</strong> plan.</p>
      <div class="clear"></div>
    </div>
  </div>
  <%= render :partial => 'plan', :locals => { :plan => Plan.find_by_name('Cool') } %>

  <div class="clear"></div>

  <div id="all">
    <div class="box">
      <p class="extras">Talker is brought to you by <strong>Teambox</strong>. Check out our <a href="http://teambox.com/" title="online collaboration software">online collaboration software.</a></p>
    </div>
  </div>
  
  <div id="ads">
    <div class="spot left">
      <h3>Cancel Anytime</h3>
      <p>You can upgrade, downgrade or cancel your plan at any time. When switching plan, we credit you the appropriate amount. Cancelling will automatically stop your renewal.</p>
    </div>
    <div class="spot right">
      <h3>One Month Free Trial</h3>
      <p>You can try our paying plan for one month, without any restrictions. If you're not happy with it, simply cancel your subscription and we wont charge you a dime.</p>
    </div>
  </div>
  <div class="clear"></div>
</div>
