<div id="splash">
  <div class="container">
    <div id="tagline">
      <h1>The fastest way to chat with your team.</h1>
    </div>
    <div id="plans">
      <div id="one">
        <div class="box">
          <h2>Max</h2>
          <h3>$99/month</h3>
          <p><span>120</span> chatters<br />
          <span>25GB</span> upload storage</p>
          <div class="buttons"><a href="#">Sign Up</a></div>
          <div class="clear"></div>
        </div>
      </div>
      <div id="two">
        <div class="box">
          <h2>Premium</h2>
          <h3>$49/month</h3>
          <p><span>60</span> chatters<br />
          <span>10GB</span> upload storage</p>
          <div class="buttons"><a href="#">Sign Up</a></div>
          <div class="clear"></div>
        </div>
      </div>
      <div id="three">
        <div class="box">
          <h2>Plus</h2>
          <h3>$24/month</h3>
          <p><span>25</span> chatters<br />
          <span>3GB</span> upload storage</p>
          <div class="buttons"><a href="#">Sign Up</a></div>
          <div class="clear"></div>
        </div>
      </div>
      <div id="four">
        <div class="box">
          <h2>Basic</h2>
          <h3>$12/month</h3>
          <p><span>12</span> chatters<br />
          <span>1GB</span> upload storage</p>
          <div class="buttons"><a href="#">Sign Up</a></div>
          <div class="clear"></div>
        </div>
      </div>
      <div class="clear"></div>
      <div id="all">
        <div class="box">
          <p id="extras">All paying plans come with easy breezy <span>Feeds</span>, powerful <span>Plugins</span> and enhanced <span>Security</span>.</p> 
          <p id="free">We also offer a limited <a href="#">Free Account</a> for up to 4 users with 10MB of upload and larger free accounts for charities and open source projects.</p>
        </div>
      </div>
    </div>
  </div>
</div>
