<h2><%= @title = "Talker Privacy Policy" %></h2>

<p>At Saut&eacute; Applications we recognize that privacy is important. This policy applies to all of the products, service and websites offered by Saut&eacute; Applications Inc. or its subsidiaries or affiliated companies (collectively, Saut&eacute; Applications’ “Services”.) By using our Services, you are accepting the practices described in this privacy policy. These practices may be changed, but any changes will be posted clearly and fully disclosed. You are encouraged to review the privacy policy whenever you visit the site to make sure that you understand how any personal information you provide will be used.</p>

<p>Our site may contain links to other websites over which we have no control. Saut&eacute; Applications is not responsible for the privacy policies or practices of other websites to which you choose to link from the Talker site.</p>

<p>If you have any questions about this Policy, please feel free to contact us through our website</p>

<h3>Collection of Personal Information</h3>

<p>Some of our features and services are available to you without registration or the need to provide us with any information. However, in order to benefit from the full functionality of the Service, you need to register as a member and in so doing, to provide a Login ID (in the form of an email address), your name, and a password.</p>

<p>In some cases, we may collect additional information including postal address, credit card number, billing information and other information from which your identity is discernible.</p>
  
<p>The information you provide is used to fulfill your specific request. This information is only used to fulfill your specific request, unless you give us permission to use it in another manner, for example to add you to one of our mailing lists.</p>
  
<h3>Cookies &amp; Web Beacons</h3>
  
<p>When you use the Service, we send one or more cookies – a small file containing a string of characters – to your computer that uniquely identifies your browser. We use cookies to improve the quality of our service by storing user preferences and tracking user trends. Most browsers are initially set up to accept cookies, but you can reset your browser to refuse all cookies or to indicate when a cookie is being sent. However, some of the Service may not function properly if your cookies are disabled.</p>

<p>Some information gathered from cookies, in aggregate form, will be shared with our clients.</p>
  
<p>Web beacons are images embedded in a Web page or email for the purpose of measuring and analyzing site usage and activity. Saut&eacute; Applications, or third party service providers acting on our behalf, may use Web beacons to help us analyze site usage and improve the Service.</p>

<p>We may use third party service providers to help us analyze certain online activities. For example, these service providers may help us measure the performance of our online campaigns or analyze visitor activity. We may permit these service providers to use cookies and other technologies to perform these services for Saut&eacute; Applications. We do not share any personally identifiable information about our customers with these third party service providers, and these service providers do not collect such information on our behalf. Our third party service providers are required to comply fully with this Privacy Policy.</p>
  
<h3>Use of Information</h3>

<p>We use the information we gather, whether personal, demographic, collective or technical, for the purpose of operating and improving our Services.</p>

<p>We may also use the information we gather to inform you of other products or services available from Saut&eacute; Applications or to contact you about your opinion of current products and services or potential new products and services that may be offered.</p>

<p>We may use your contact information in order to send you e-mail or other communications regarding updates on the Talker service. The nature and frequency of these messages will vary depending upon the information we have about you.</p>

<h3>Disclosure of Information</h3>
  
<p>We do not disclose to third parties your personal information, combined personal and demographic information or information about your use of the Talker (such as the areas you visit or the services you access), except as set forth in the following four subparagraphs.</p>  

<p>We may disclose such information to companies and individuals we employ to perform functions on our behalf. Examples may include hosting our Web servers, analyzing data, providing marketing assistance, processing credit card payments and providing customer service. These companies and individuals will have access to your personal information as necessary to perform their functions, but they may not share that information with any other third party.</p>

<p>We may disclose such information if legally required to do so, if requested to do so by a governmental entity, including a governmental entity of the United States or Canada, or if we believe in good faith that such action is necessary to: (a) conform to legal requirements or comply with legal process; (b) protect the rights or property of Saut&eacute; Applications; (c) prevent a crime or protect national security; or (d) protect the personal safety of users or the public.</p>
  
<p>We may disclose and transfer such information to a third party who acquires all or a substantial portion of our business, whether such acquisition is by way of merger, consolidation or purchase of all or a substantial portion of our assets. In addition, in the event Saut&eacute; Applications becomes the subject of a bankruptcy proceeding, whether voluntary or involuntary, Saut&eacute; Applications or its trustee in bankruptcy may sell, license or otherwise dispose of such information in a transaction approved by the bankruptcy court.</p>
  
<p>Saut&eacute; Applications may also share aggregated anonymous information about visitors to its Web site with its clients, partners and other third parties so that they may understand the kinds of visitors that visit our site and how those visitors use the site.</p>

<p>Saut&eacute; Applications supplies technology, hosting and related services to other leading companies to allow their team to chat. Personal and/or demographic information supplied by you becomes part of the Talker database, but it is not accessible by anyone other than you, Saut&eacute; Applications and the company concerned without your consent.</p>

<p>Information gathered in a chat room may become the property of the account owner company or of both Saut&eacute; Applications and the other company. In that instance, the use of such information by the other company may be subject to the privacy policy of that company and, in any event, Saut&eacute; Applications is not responsible for that company's use of your personal or demographic information.</p>

<h3>Updating Your Information</h3>

<p>Your data is yours. You can take it with you or remove it anytime you want. When you request us to delete your account for the Service, your data will be permanently expunged from our primary production servers and further access to your account will not be possible. We will also promptly disconnect any connection we had established to your Account Information. However, portions of your data, consisting of aggregate data derived from your Account Information, may remain on our production servers indefinitely. Your data may also remain on a backup server or media. Saut&eacute; Applications keeps these backups to ensure our continued ability to provide the Service to you in the event of malfunction or damage to our primary production servers.</p>
  
<p>You may review, correct, update or change your Talker account profile information at any time by simply logging into your Talker account and editing it with the options provided.</p>

<h3>Security</h3>
  
<p>Saut&eacute; Applications has implemented reasonable technical and organizational measures designed to secure your personal information from accidental loss and from unauthorized access, use, alteration or disclosure. However, we cannot guarantee that unauthorized third parties will never be able to defeat those measures or use your personal information for improper purposes.</p>

<p>When you place an order online at Talker, your credit card information is protected through the use of encryption, such as the Secure Socket Layer ("SSL") protocol. SSL makes it difficult for your credit card information to be intercepted or stolen while being transmitted. Talker uses a service company to process its credit card transactions.</p>
