<h2><%= @title = "Talker Customer Service Policy" %></h2>

<h3>Return Policy</h3>

<p>The Talker product is based on a monthly subscription. To cancel the subscription to our product, we require only a standard 30 day notice, and your account will be cancelled as of the next billing cycle.</p>

<h3>Currency</h3>

<p>Talker charges fees in US Dollars.</p>

<h3>Support</h3>

<ul>
  <li>Support system: <%= link_to "Tender", "http://talker.tenderapp.com" %></li>
  <li>Email: <%= mail_to 'support@talkerapp.com' %></li>
</ul>
