<% @title = "Paste #" + @paste.permalink %>

<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">
    $(function() {
      var applyWrapByCheckedValue = function() {
        $('pre').css(
          'white-space', 
          ($('#wrapLines').get(0).checked ? 'pre-wrap' : 'pre')
        );
      }
      
      // guess what kind of content we're dealing with... code should not wrap... not perfect... works with indentable code.
      if (!(/^[\t| ]+/mg).test($('pre code').html())) {
        $('#wrapLines').get(0).checked = true;
      }
      
      applyWrapByCheckedValue();
      
      $('#wrapLines').click(function() {
        applyWrapByCheckedValue();
      });
    });
  </script>
<% end %>

<pre><code><%=h @paste.content %></code></pre>

<div id="wrapLinesDiv">
  <input type="checkbox" id="wrapLines" /> <label for="wrapLines">Wrap long lines</label>
</div>