<% form_tag @room ? account_search_room_path(current_account, @room) : account_search_path(current_account), :method => :get, :class => "search_form" do %>
  <p>
    <%= text_field_tag :q, @query, :class => "search", :type => "search", :results => 5, :placeholder => "Search chat logs ...", :accesskey => "s" %>
  </p>
<% end %>