<div class="sheet" id="logs">
  <h2><%=h @title = "Chat Logs" %></h2>

  <div class="log-entry">
  <% @rooms.each do |room| %>
    <h3><%= link_to h(room.name), room_logs_path(room) %></h3>
  <% end %>
  </div>
</div>