<div class="sheet" id="logs">
  <h2><%=h @title = "Chat Logs for #{@room.name}" %></h2>
  
  <% if @dates.empty? %>
    <p>No logs</p>
  <% end %>
  
  <% @dates.each do |date| %>
    <div class="log-entry">
      <h4><%= link_to human_date(date), room_log_path(@room, date.year, date.month, date.day) %></h4>
    </div>
  <% end %>
  
  <%= will_paginate @events %>
</div>