<%
if @room
  @title = "Chat Logs search for #{@query} in #{@room.name}"
else
  @title = "Chat Logs search for #{@query}"
end
%>

<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">
  //<![CDATA[
    Talker.currentUser = <%= current_user.to_json %>;
    
    $(function(){
      <%#= install_plugin :timestamp, true %>
      <%#= install_core_plugins :except => :timestamp %>
      
      Talker.plugins.push(new Talker.Timestamp(true));
      
      Talker.plugins.push(new Talker.YoutubeFormatter());
      Talker.plugins.push(new Talker.PasteFormatter());
      Talker.plugins.push(new Talker.ImageFormatter());
      
      Talker.plugins.push(new Talker.LogsViewInContext());
      Talker.plugins.push(new Talker.DefaultFormatter());
      
      <%= render_events_for_logs @events %>
    });
  //]]>
  </script>
<% end %>

<h2><%=h @title %></h2>

<div id="chat_log">
  <table id="log">
  </table>
</div>
