<% @title = "Chat Logs of #{@room.name} for " + human_date(@date) %>

<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">
  //<![CDATA[
    Talker.currentUser = <%= current_user.to_json %>;
    
    $(function(){
      <%= install_core_plugins %>
      Talker.plugins.push(new Talker.UserList($('#people')));
      
      <%= render_events @events %>
    });
  //]]>
  </script>
<% end %>

<h2><%=h @title %></h2>

<div id="chat_log">
  <table id="log">
  </table>
</div>

<% content_for :sidebar do %>
  <div id="room" class="panel">
    <div class="content">
      <h4>Users in this log</h4>
      <ul class="people" id="people"></ul>
    </div>
  </div>
<% end %>
