  <div id="footer">
    <a id="logo" href="http://talkerapp.com" target="_blank">
      &copy Talker
      <%= image_tag "/images/favicon.png", :height => "18", :width => "18", :alt => "Talker Fish Loves Thee" %>
    </a>
    <span class="links">
      <%= mail_to "info@talkerapp.com", "Contact" %>
      &middot;
      <%= link_to "Blog", "http://talkerapp.tumblr.com" %>
      &middot;
      <%= link_to "Support", "http://talker.tenderapp.com" %>
    </span>
  </div>
  
</body>
</html>