  <div id="footer">
    &copy Talker
    &mdash;
    <span class="links">
      <%= mail_to "info@talkerapp.com", "Contact" %>
      &middot;
      <%= link_to "Blog", "http://talkerapp.tumblr.com" %>
      &middot;
      <%= link_to "Support", "http://talker.tenderapp.com" %>
    </span>
  </div>
  
</body>
</html>