<%= render :partial => "layouts/header" %>

<div id="curtain">
</div>
<div id="loading">
  <p>Loading ...</p>
  <p><%= image_tag "log_loader.gif" %></p>
</div>

<%= yield %>

<%= render "layouts/stats" %>
</body>
</html>