<%= render :partial => "layouts/header" %>

  <%= render :partial => "shared/nav" %>

  <div id="content">
    <div id="sidebar">
      <%= yield :sidebar %>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>

</body>
</html>