.sheet#landing
  %h2 Talker landing page
  %h3 These are all your accounts and rooms
  #accounts
    -current_user.accounts.each do |account|
      %h4
        =link_to account.subdomain, rooms_url(:host => account_host(account))
      %ul
        -account.rooms.with_permission(current_user).each do |room|
          %li
            =link_to h(room.name), room_url(room, :host => account_host(account))
            -if room.users.any?
              .inside
                %strong Inside:
                =avatars room.users

  #logout
    =link_to 'Log out', logout_path
