<div id="welcome" class="sheet">
  <h2><%= @title = "Welcome to Talker" %></h2>
  
  <div class="content">
    <p>Welcome to your new chat account!</p>

    <p>To get started, you can:</p>
    <ul class="links">
      <li><%= link_to "Invite your colleagues", account_invites_path(current_account) %></li>
      <li><%= link_to "Start chatting now", [current_account, current_account.rooms.first] %></li>
    </ul>
  
    <p class="footer">
      Thanks,<br/>
      <em>- <%= mail_to "info@talkerapp.com", "The Talker Team" %></em>
    </p>
  </div>
</div>
